@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes toastSlideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-toastSlideIn {
  animation: toastSlideIn 0.4s ease-out;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #111827; /* same as bg-gray-900 */
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}
